footer{
    height: 200px;
    width: 100%;
    background-color: #E93558;
    .cont{
        margin: auto;
        width: 90%;
        max-width: 1200px;
        height: 100%;
        display: grid;
    grid-template-columns: repeat(3,1fr);
        div{
            display: flex;
            justify-content: center;
            flex-flow: column;
            color: white;
            p{
                color: white;
                margin: 5px;
                font-size: 1.3em;                }

        }
    }
}