*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(65, 65, 65);

}

body{
    background: #EAE4E4;

    // header
    @import "header";

    @import "section";

    @import "footer";

    
   
}